In [1]:
import yfinance as yf

In [2]:
ticker = 'GC=F'  # Gold Futures ticker on Yahoo Finance
gold = yf.download(ticker, start='2016-01-01', end='2025-01-01', interval='1d')
gold.head()

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2016-01-04  1075.099976  1082.500000  1063.199951  1063.400024    143
2016-01-05  1078.400024  1081.500000  1075.300049  1075.599976     82
2016-01-06  1091.900024  1093.699951  1081.599976  1081.599976     52
2016-01-07  1107.699951  1109.400024  1091.599976  1091.599976    122
2016-01-08  1097.800049  1111.099976  1093.000000  1111.099976     98

In [3]:
gold.to_csv('gold_prices_2016_2025.csv')